#! /usr/bin/env python2
# -*- coding:utf-8 -*-

#  mysql_config

mysql_config = {
    'host': '127.0.0.1',
    'user': 'xxxxx',
    'passwd': 'xxxxx',
    'dbname': 'xxxxx'
}

# --------------------
# S3 history
amazon_s3_config = {
    "region": "us-east-1",
    "bucket": "xxxxx-xxxxx",
    "accessKey": "xxxxx",
    "secretKey": "xxxxx"
}

# Alarm

# logging config
log_config = {
    'filename': "main.log",
    'filemode': 'a',
    'encoding': None,
    'delay': 0,
    'format': '%(asctime)s %(name)s %(levelname)-8s|%(message)s',
    'datefmt': '%Y-%m-%d %H:%M:%S',
    'level': 0,
    'mailto': 'louxiao@amberweather.com',
    'mailtoken': 'xxxxx'
}

task = {
    'clean_sql_file': False,
    'base_key_prefix': 'awsma/events/xxxxx/',
    'save_prefix': '.',
    'table_name': 'install_event',
    'tmp_sql_file_dir': './',
}
